@import 'variables.css';
@import 'theme.css';
@import 'typography.css';
@import 'responsive.css';
@import 'colors.css';
@import 'elements.css';
@import 'grid.css';
html {
    background-color: var(--white);
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    box-sizing: border-box;
}