.box:not(:last-child) {
    margin-bottom: 1.5rem;
}

.box {
    background-color: var(--white);
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: var(--grey-10);
    display: block;
    padding: var(--space-1) var(--space-1);
}

a.box:hover,
a.box:focus {
    box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1), 0 0 0 1px var(--link);
}

a.box:active {
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2), 0 0 0 1px var(--link);
}

button::-moz-focus-inner {
    border: 0;
}

.button,
.input {
    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: calc(0.375em - 1px);
}

.button {
    font-family: inherit;
    background-color: var(--white);
    border: 1px solid var(--grey-5);
    border-radius: 3px;
    min-width: 80px;
    width: auto;
    color: var(--grey-10);
    cursor: pointer;
    justify-content: center;
    position: relative;
    align-items: center;
    text-align: center;
    white-space: nowrap;
}

.button:focus {
    outline: none;
}

.button:hover {
    border: 1px solid var(--grey-7);
    color: var(--grey-10);
    transition: all 100ms;
}

.button:active {
    border: 1px solid var(--grey-9);
    color: var(--grey-10);
}

.button:focus:not(:active) {
    box-shadow: 0 0 0 2px var(--blue-shadow);
}

.button.rounded {
    border-radius: 500px;
}

.button:focus:not(:active) {
    border: 1px solid var(--blue-4);
}

.buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.buttons .button {
    margin-bottom: 0.5rem;
}

.buttons .button:not(:last-child) {
    margin-right: 0.5rem;
}

.buttons:last-child {
    margin-bottom: -0.5rem;
}

.buttons:not(:last-child) {
    margin-bottom: 1rem;
}

/* Primary */

.button.is-primary {
    background-color: var(--primary);
    border-color: transparent;
    color: var(--white);
}

.button.is-primary:hover,
.button.is-primary.is-hovered {
    background-color: var(--primary-dark);
    border-color: transparent;
    color: var(--white);
}

.button.is-primary:focus,
.button.is-primary.is-focused {
    border-color: transparent;
    color: var(--white);
}

.button.is-primary:focus:not(:active),
.button.is-primary.is-focused:not(:active) {
    box-shadow: 0 0 0 0.125em var(--primary-shadow);
}

.button.is-primary:active,
.button.is-primary.is-active {
    background-color: var(--primary-darker);
    border-color: transparent;
    color: var(--white);
}

.button.is-primary[disabled] {
    background-color: var(--primary);
    border-color: transparent;
    box-shadow: none;
}

.button.is-primary.is-inverted {
    background-color: var(--white);
    color: var(--primary);
}

.button.is-primary.is-inverted:hover {
    background-color: var(--grey-2);
}

.button.is-primary.is-inverted[disabled] {
    background-color: var(--white);
    border-color: transparent;
    box-shadow: none;
    color: var(--primary);
}

.button.is-primary.is-outlined {
    background-color: transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.button.is-primary.is-outlined:hover,
.button.is-primary.is-outlined:focus {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white);
}

.button.is-primary.is-outlined[disabled] {
    background-color: transparent;
    border-color: var(--primary);
    box-shadow: none;
    color: var(--primary);
}

.button.is-primary.is-inverted.is-outlined {
    background-color: transparent;
    border-color: var(--white);
    color: var(--white);
}

.button.is-primary.is-inverted.is-outlined:hover,
.button.is-primary.is-inverted.is-outlined:focus {
    background-color: var(--white);
    color: var(--primary);
}

.button.is-primary.is-inverted.is-outlined[disabled] {
    background-color: transparent;
    border-color: var(--white);
    box-shadow: none;
    color: var(--white);
}

/* Info */

.button.is-info {
    background-color: var(--info);
    border-color: transparent;
    color: var(--white);
}

.button.is-info:hover,
.button.is-info.is-hovered {
    background-color: var(--info-dark);
    border-color: transparent;
    color: var(--white);
}

.button.is-info:focus,
.button.is-info.is-focused {
    border-color: transparent;
    color: var(--white);
}

.button.is-info:focus:not(:active),
.button.is-info.is-focused:not(:active) {
    box-shadow: 0 0 0 0.125em var(--info-shadow);
}

.button.is-info:active,
.button.is-info.is-active {
    background-color: var(--info-darker);
    border-color: transparent;
    color: var(--white);
}

.button.is-info[disabled] {
    background-color: var(--info);
    border-color: transparent;
    box-shadow: none;
}

.button.is-info.is-inverted {
    background-color: var(--white);
    color: var(--info);
}

.button.is-info.is-inverted:hover {
    background-color: var(--grey-2);
}

.button.is-info.is-inverted[disabled] {
    background-color: var(--white);
    border-color: transparent;
    box-shadow: none;
    color: var(--info);
}

.button.is-info.is-outlined {
    background-color: transparent;
    border-color: var(--info);
    color: var(--info);
}

.button.is-info.is-outlined:hover,
.button.is-info.is-outlined:focus {
    background-color: var(--info);
    border-color: var(--info);
    color: var(--white);
}

.button.is-info.is-outlined[disabled] {
    background-color: transparent;
    border-color: var(--info);
    box-shadow: none;
    color: var(--info);
}

.button.is-info.is-inverted.is-outlined {
    background-color: transparent;
    border-color: var(--white);
    color: var(--white);
}

.button.is-info.is-inverted.is-outlined:hover,
.button.is-info.is-inverted.is-outlined:focus {
    background-color: var(--white);
    color: var(--info);
}

.button.is-info.is-inverted.is-outlined[disabled] {
    background-color: transparent;
    border-color: var(--white);
    box-shadow: none;
    color: var(--white);
}

/* Success */

.button.is-success {
    background-color: var(--success);
    border-color: transparent;
    color: var(--white);
}

.button.is-success:hover,
.button.is-success.is-hovered {
    background-color: var(--success-dark);
    border-color: transparent;
    color: var(--white);
}

.button.is-success:focus,
.button.is-success.is-focused {
    border-color: transparent;
    color: var(--white);
}

.button.is-success:focus:not(:active),
.button.is-success.is-focused:not(:active) {
    box-shadow: 0 0 0 0.125em var(--success-shadow);
}

.button.is-success:active,
.button.is-success.is-active {
    background-color: var(--success-darker);
    border-color: transparent;
    color: var(--white);
}

.button.is-success[disabled] {
    background-color: var(--success);
    border-color: transparent;
    box-shadow: none;
}

.button.is-success.is-inverted {
    background-color: var(--white);
    color: var(--success);
}

.button.is-success.is-inverted:hover {
    background-color: var(--grey-2);
}

.button.is-success.is-inverted[disabled] {
    background-color: var(--white);
    border-color: transparent;
    box-shadow: none;
    color: var(--success);
}

.button.is-success.is-outlined {
    background-color: transparent;
    border-color: var(--success);
    color: var(--success);
}

.button.is-success.is-outlined:hover,
.button.is-success.is-outlined:focus {
    background-color: var(--success);
    border-color: var(--success);
    color: var(--white);
}

.button.is-success.is-outlined[disabled] {
    background-color: transparent;
    border-color: var(--success);
    box-shadow: none;
    color: var(--success);
}

.button.is-success.is-inverted.is-outlined {
    background-color: transparent;
    border-color: var(--white);
    color: var(--white);
}

.button.is-success.is-inverted.is-outlined:hover,
.button.is-success.is-inverted.is-outlined:focus {
    background-color: var(--white);
    color: var(--success);
}

.button.is-success.is-inverted.is-outlined[disabled] {
    background-color: transparent;
    border-color: var(--white);
    box-shadow: none;
    color: var(--white);
}

/* Link */

.button.is-link {
    background-color: var(--link);
    border-color: transparent;
    color: var(--white);
}

.button.is-link:hover,
.button.is-link.is-hovered {
    background-color: var(--link-dark);
    border-color: transparent;
    color: var(--white);
}

.button.is-link:focus,
.button.is-link.is-focused {
    border-color: transparent;
    color: var(--white);
}

.button.is-link:focus:not(:active),
.button.is-link.is-focused:not(:active) {
    box-shadow: 0 0 0 0.125em var(--link-shadow);
}

.button.is-link:active,
.button.is-link.is-active {
    background-color: var(--link-darker);
    border-color: transparent;
    color: var(--white);
}

.button.is-link[disabled] {
    background-color: var(--link);
    border-color: transparent;
    box-shadow: none;
}

.button.is-link.is-inverted {
    background-color: var(--white);
    color: var(--link);
}

.button.is-link.is-inverted:hover {
    background-color: var(--grey-2);
}

.button.is-link.is-inverted[disabled] {
    background-color: var(--white);
    border-color: transparent;
    box-shadow: none;
    color: var(--link);
}

.button.is-link.is-outlined {
    background-color: transparent;
    border-color: var(--link);
    color: var(--link);
}

.button.is-link.is-outlined:hover,
.button.is-link.is-outlined:focus {
    background-color: var(--link);
    border-color: var(--link);
    color: var(--white);
}

.button.is-link.is-outlined[disabled] {
    background-color: transparent;
    border-color: var(--link);
    box-shadow: none;
    color: var(--link);
}

.button.is-link.is-inverted.is-outlined {
    background-color: transparent;
    border-color: var(--white);
    color: var(--white);
}

.button.is-link.is-inverted.is-outlined:hover,
.button.is-link.is-inverted.is-outlined:focus {
    background-color: var(--white);
    color: var(--link);
}

.button.is-link.is-inverted.is-outlined[disabled] {
    background-color: transparent;
    border-color: var(--white);
    box-shadow: none;
    color: var(--white);
}

/* Warning */

.button.is-warning {
    background-color: var(--warning);
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7);
}

.button.is-warning:hover,
.button.is-warning.is-hovered {
    background-color: var(--warning-dark);
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7);
}

.button.is-warning:focus,
.button.is-warning.is-focused {
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7);
}

.button.is-warning:focus:not(:active),
.button.is-warning.is-focused:not(:active) {
    box-shadow: 0 0 0 0.125em var(--warning-shadow);
}

.button.is-warning:active,
.button.is-warning.is-active {
    background-color: var(--warning-darker);
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7);
}

.button.is-warning[disabled] {
    background-color: var(--warning);
    border-color: transparent;
    box-shadow: none;
}

/*Danger */

.button.is-danger {
    background-color: var(--danger);
    border-color: transparent;
    color: var(--white);
}

.button.is-danger:hover,
.button.is-danger.is-hovered {
    background-color: var(--danger-dark);
    border-color: transparent;
    color: var(--white);
}

.button.is-danger:focus,
.button.is-danger.is-focused {
    border-color: transparent;
    color: var(--white);
}

.button.is-danger:focus:not(:active),
.button.is-danger.is-focused:not(:active) {
    box-shadow: 0 0 0 0.125em var(--danger-shadow);
}

.button.is-danger:active,
.button.is-danger.is-active {
    background-color: var(--danger-darker);
    border-color: transparent;
    color: var(--white);
}

.button.is-danger[disabled] {
    background-color: var(--danger);
    border-color: transparent;
    box-shadow: none;
}

.button.is-danger.is-inverted {
    background-color: var(--white);
    color: var(--danger);
}

.button.is-danger.is-inverted:hover {
    background-color: var(--grey-2);
}

.button.is-danger.is-inverted[disabled] {
    background-color: var(--white);
    border-color: transparent;
    box-shadow: none;
    color: var(--danger);
}

.button.is-danger.is-outlined {
    background-color: transparent;
    border-color: var(--danger);
    color: var(--danger);
}

.button.is-danger.is-outlined:hover,
.button.is-danger.is-outlined:focus {
    background-color: var(--danger);
    border-color: var(--danger);
    color: var(--white);
}

.button.is-danger.is-outlined[disabled] {
    background-color: transparent;
    border-color: var(--danger);
    box-shadow: none;
    color: var(--danger);
}

.button.is-danger.is-inverted.is-outlined {
    background-color: transparent;
    border-color: var(--white);
    color: var(--white);
}

.button.is-danger.is-inverted.is-outlined:hover,
.button.is-danger.is-inverted.is-outlined:focus {
    background-color: var(--white);
    color: var(--danger);
}

.button.is-danger.is-inverted.is-outlined[disabled] {
    background-color: transparent;
    border-color: var(--white);
    box-shadow: none;
    color: var(--white);
}