/* Base colors */

:root {
	--primary-hue: 293;
	/* Primary Shades */
	/* COLORS */
	/* RED */
	--red-1: #fff0f0;
	--red-2: #ffdbde;
	--red-3: #ffb3ba;
	--red-4: #ff8a99;
	--red-5: #ff617b;
	--red-6: #fd4469;
	--red-7: #e93861;
	--red-8: #db315e;
	--red-9: #8c0a31;
	--red-10: #660626;
	--red-shadow: #ff386040;
	/* Blue */
	--blue-1: #ebf8ff;
	--blue-2: #c2e9ff;
	--blue-3: #99d6ff;
	--blue-4: #70c1ff;
	--blue-5: #47a9ff;
	--blue-6: #1e90ff;
	--blue-7: #0f6dd9;
	--blue-8: #044fb3;
	--blue-9: #00388c;
	--blue-10: #002566;
	--blue-shadow: #1e90ff40;
	/* Light-blue */
	--light-blue-1: #E1F5FE;
	--light-blue-2: #B3E5FC;
	--light-blue-3: #81D4FA;
	--light-blue-4: #4FC3F7;
	--light-blue-5: #29B6F6;
	--light-blue-6: #03A9F4;
	--light-blue-7: #039BE5;
	--light-blue-8: #0288D1;
	--light-blue-9: #0277BD;
	--light-blue-10: #01579B;
	--light-blue-shadow: #03A9F440;
	/* Green */
	--green-1: #f0fff4;
	--green-2: #dbffe5;
	--green-3: #b1fcc9;
	--green-4: #81f0a8;
	--green-5: #56e38c;
	--green-6: #2ed573;
	--green-7: #24b866;
	--green-8: #1ea15e;
	--green-9: #076337;
	--green-10: #043d23;
	--green-shadow: #2ed57340;
	/* Yellow */
	--yellow-1: #fffef0;
	--yellow-2: #fffbd4;
	--yellow-3: #fff5ab;
	--yellow-4: #ffec82;
	--yellow-5: #ffe260;
	--yellow-6: #ffdb57;
	--yellow-7: #ffd147;
	--yellow-8: #f3c552;
	--yellow-9: #8c6206;
	--yellow-10: #664303;
	--yellow-shadow: #fed33040;
	/* Orange */
	--orange-1: #fffae6;
	--orange-2: #ffeca6;
	--orange-3: #ffde7d;
	--orange-4: #ffcf54;
	--orange-5: #ffbc2b;
	--orange-6: #ffa502;
	--orange-7: #d98600;
	--orange-8: #b36800;
	--orange-9: #8c4d00;
	--orange-10: #663500;
	--orange-shadow: #ffa50240;
	/* Cyan */
	--cyan-1: #e6fffa;
	--cyan-2: #a3fff1;
	--cyan-3: #76f5e6;
	--cyan-4: #4ae8db;
	--cyan-5: #23dbd2;
	--cyan-6: #00cec9;
	--cyan-7: #00a5a8;
	--cyan-8: #007c82;
	--cyan-9: #00545c;
	--cyan-10: #002f36;
	--cyan-shadow: #00cec940;
	/* Purple */
	--purple-1: #f0e1ef;
	--purple-2: #e2c3e3;
	--purple-3: #d396d6;
	--purple-4: #c26dc9;
	--purple-5: #af48bd;
	--purple-6: #9c27b0;
	--purple-7: #8E24AA;
	--purple-8: #7B1FA2;
	--purple-9: #6A1B9A;
	--purple-10: #4A148C;
	--purple-shadow: #9c27b040;
	/* Grey */
	--grey-1: #fafafa;
	--grey-2: #f5f5f5;
	--grey-3: #efefef;
	--grey-4: #e8e8e8;
	--grey-5: #d9d9d9;
	--grey-6: #bfbfbf;
	--grey-7: #8c8c8c;
	--grey-8: #595959;
	--grey-9: #404040;
	--grey-10: #262626;
	--grey-shadow: #26262640;
	/* Regular */
	--white: #fdfdfd;
	--black: #060606;
	/* SIZES */
	/* Font sizes */
	--icon-size: 1.5rem;
	--font-size-1: 3rem;
	--font-size-2: 2.5rem;
	--font-size-3: 2rem;
	--font-size-4: 1.5rem;
	--font-size-5: 1.25rem;
	--font-size-6: 1rem;
	--font-size-7: 0.75rem;
	/* Spacing sizes */
	--space-1: 0.5rem;
	--space-2: 1rem;
	--space-3: 2rem;
	--space-4: 4rem;
}